.slider-container {
	text-transform: uppercase; 	
	min-height: 100vh;
	color: white;
	background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url('../images/turks1.jpg');
	background-size: cover;
	background-position: center center;
  margin-bottom:0;
  h1 {
  	font-size: 4em;
  }
	h4, h5 {
		color: rgb(221,221,221);
	}
	.slider-text h1, h4, h5{
		margin-top: 10%;
		font-weight: 300;
		width: 100%;
	}
}

