
.page-header {
	margin-top: 130px;
}

.space-divs {
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 1.2em;
	margin-bottom: 16px;
}

.modal-dialog {
    width: 75%;
    height: 75%;
    margin: 0 auto;
    padding: 0;
  }