$screen-lg-min: 1200px;
$screen-md-min: 992px;
$screen-sm-min: 768px;
$screen-xs-min: 575px;
$screen-xxs-min: 480px;



.jumbotron-header {
  position: relative;
  top: 150px;
  margin: 0;
  z-index: 1;
  color: white;
  @media screen and (max-width: $screen-sm-min) {
      font-size: pem;
  }
}


.home-jumbotron2 {
  color: white;
  background-image: url('../images/beach1.jpg');
  background-size: cover;
  background-position: center center;
  margin-bottom:0;
  // fix this
  height: 100vh;
}
.home-jumbotron {
  color: white;
  background-image: url('../images/beach2.jpg');
  background-size: cover;
  background-position: center center;
  margin-bottom:0;
  // fix this
  height: 100vh;
}

.home-jumbotron3 {
  color: white;
  background-image: url('../images/beach3.jpg');
  background-size: cover;
  background-position: center center;
  margin-bottom:0;
  // fix this
  height: 100vh;
}

.next-arrow {
  color: #337ab7;
  display: block;
  top: 50%;
  position: absolute;
  padding-right: 40px;
  right: 0;
  cursor: pointer;
}


.prev-arrow {
  color: #337ab7;
  display: block;
  top: 50%;
  position: absolute;
  padding-left: 40px;
  left: 0;
  z-index: 1;
  cursor: pointer
}

.down-arrow {
  color: black;
  display: block;
  left: 50%;
  position: absolute;
  bottom: 80px;
  z-index: 1;
  cursor: pointer
}


.slick-dots {
  bottom: 25px;

  li.slick-active {
    button {
      &:before {
        color: #337ab7;
      }
    }
  }

  li {


    margin: 5px;
    width: 50px;
    height: 50px;

    button {
      &:before {
        font-size: 15px;
        top: 25%;
        height: 40px;
        width: 40px;
        color: #337ab7;
      }
    }
    button {
      padding: 25px;
      width: 50px;
      height: 50px;
    }
  }
}