$screen-lg-min: 1200px;
$screen-md-min: 992px;
$screen-sm-min: 768px;
$screen-xs-min: 575px;
$screen-xxs-min: 480px;



.jumbotron-header {
  font-family: 'Roboto';
  font-size: 4em;
  font-weight: 300;
  text-shadow: 0 0 100px rgba(0,0,0,0.9);
  position: relative;
  top: 150px;
  z-index: 2;
  color: white;
  display: inline;
  @media screen and (max-width: $screen-sm-min) {
      font-size: 2em;
  }
  @media screen and (max-width: $screen-xs-min) {
      font-size: 1.8em;
  }
}


.btn-group {
  height: 0;
  .btn {
    float: none;
  }
}

.book-button {
  position: relative;
  top: 200px;
  z-index: 1;
  text-align: center;
  float: center;
  display: inline-block;
  margin-top: 20px;
}



.home-jumbotron {
  height: 100vh;
  .carousel {
    height: 100%;
    margin-top: -33px;
  }

  .carousel-caption {
    text-shadow: 0 0 100px rgba(0,0,0,0.9);
  }
  

  .carousel-image {
    position: fixed;
    width: 100%;
    height: 0;
    background: url('../images/turks2.jpg');
    background-size: cover;
  }



  .carousel-inner {
    height: 100%;
    .item {
      height: 100%;
      img {
        height: 100%;
      }
    }
  }
}
