$screen-lg-min: 1200px;
$screen-md-min: 992px;
$screen-sm-min: 767px;
$screen-xs-min: 575px;
$screen-xxs-min: 500px;
$screen-xxxs-min: 450px;
$screen-xxxxs-min: 420px;

$screen-gap: 344px;

$primary-blue: #3B5998;


.navbar-header {
  background: white;
  padding-right: 15px;
  padding-bottom: 5px;
}

.navbar-fixed-top {
  border-bottom: 1px solid #999;
}
.navbar {
	margin-bottom: 0px;
	min-height: 75px;
 .navbar-brand {
 	padding: 0;
 }
 li a {
  padding: 0;
 }
 .nav-item {
  font-size: 1.3em;
  float: left;
  @media screen and (max-width: $screen-sm-min) {
      font-size: 1.1em;
  }
  a div {
    padding: 23px;
    @media screen and (max-width: $screen-sm-min) {
      padding: 15px 35px;
    } 
    @media screen and (max-width: $screen-xs-min) {
      padding: 15px 25px;
    } 
    @media screen and (max-width: $screen-xxs-min) {
      padding: 15px 15px;
    } 
    @media screen and (max-width: $screen-xxxs-min) {
      padding: 15px 10px;
    } 
  }

 }


 .navbar-collapse {
  padding-left: 0;
  padding-right: 0;
 }

  .container {
    padding-left: 0;
    margin-left: 16px;
  }

 .navbar-title {
 	margin-top: 30px;
 	position: relative;
  padding-left: 0; 
 	left: 25px;
 	margin-bottom: 0;
 	z-index: 0;

    @media screen and (max-width: $screen-sm-min) {
      font-size: 1.4em;
    }


    @media screen and (max-width: $screen-xs-min) {
      font-size: 1.2em;
    }
    @media screen and (max-width: $screen-xxxxs-min) {
      font-size: 1em;
  	}
  }

}

.nav-highlight {
  border-bottom: 3px solid $primary-blue;
  a div {
    color: black;
  }
}

.navbar-nav {
	margin-top: 20px;
  @media screen and (max-width: $screen-sm-min) {
      margin: 0;
  }
}

.navbar-toggle {
	margin-top: 22px;
	z-index: 1;
}

