$screen-lg-min: 1200px;
$screen-md-min: 992px;
$screen-sm-min: 768px;
$screen-xs-min: 575px;
$screen-xxs-min: 500px;
$screen-xxxs-min: 450px;
$screen-xxxxs-min: 420px;

$screen-gap: 344px;

$primary-blue: #3B5998;


.navbar-fixed-top {
  border-bottom: 1px solid #999;
}
.navbar {
	margin-bottom: 0px;
	min-height: 75px;
 .navbar-brand {
 	padding: 0;
 }
 li a {
  padding: 0;
 }
 .nav-item {
  font-size: 1.3em;
  a div {
    padding: 23px
  }
 }

  .container {
    padding-left: 0;
    margin-left: 16px;
  }

 .navbar-title {
 	margin-top: 25px;
 	position: relative; 
 	left: 25px;
 	margin-bottom: 0;
 	z-index: 0;

    @media screen and (max-width: $screen-sm-min) {
      font-size: 2.1em;
    }

 	  @media screen and (max-width: $screen-xs-min) {
      font-size: 1.8em;
    }


 	  @media screen and (max-width: $screen-xxs-min) {
      font-size: 1.5em;
    }

    @media screen and (max-width: $screen-xxxs-min) {
      font-size: 1.3em;
    }
    @media screen and (max-width: $screen-xxxxs-min) {
      font-size: 1.2em;
  	}
  }

}

.nav-highlight {
  border-bottom: 3px solid $primary-blue;
  a div {
    color: black;
  }
}

.navbar-nav {
	margin-top: 20px;
}

.navbar-toggle {
	margin-top: 22px;
	z-index: 1;
}